
.Toolbar {
    top: 0;
    width: 100%;
    background-color: #a1bee4;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DesktopOnly {
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
@media (min-width: 500px) {
    .MobileOnly {
        display: none;
    }
}
