.NavigationItem {
    
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    box-sizing: border-box;
    vertical-align: middle;
    font-weight: bold;
    
}

.NavigationItem a {
    text-decoration: none;
    color:  #a1bee4;
}

.NavigationItem a:hover{
    border-bottom: 2px solid white;
}

@media (min-width: 500px) {
    .NavigationItem {
       margin: auto 0;
       height: auto;
    }
    .NavigationItem a {
        text-decoration: none;
        color:  #ffffff;
    }
}