.Button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-family: inherit;
    background: white;
    border: 2px solid #a1bee4;
    color: #a1bee4;
    font-size: 1em;
    font-weight: bold;
}

.Button:hover {
    background: #a1bee4;
    color: white;

}

